trunk/sources/G2_QLKS/G2_QLKS/Service References/WebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="pbLayDSPhong">
        <s:complexType />
      </s:element>
      <s:element name="pbLayDSPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pbLayDSPhongResult" type="tns:ArrayOfPHONG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPHONG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PHONG" nillable="true" type="tns:PHONG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PHONG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaPhong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenPhong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaLoaiPhong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GhiChu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TinhTrang" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="pbLayDSPhongTheoLoaiPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loaiPhong" type="tns:LOAIPHONG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LOAIPHONG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaLoaiPhong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoaiPhong" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SLKhachToiDa" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="pbLayDSPhongTheoLoaiPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pbLayDSPhongTheoLoaiPhongResult" type="tns:ArrayOfPHONG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pbLayDSLoaiPhong">
        <s:complexType />
      </s:element>
      <s:element name="pbLayDSLoaiPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pbLayDSLoaiPhongResult" type="tns:ArrayOfLOAIPHONG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLOAIPHONG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOAIPHONG" nillable="true" type="tns:LOAIPHONG" />
        </s:sequence>
      </s:complexType>
      <s:element name="pbThemPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phong" type="tns:PHONG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pbThemPhongResponse">
        <s:complexType />
      </s:element>
      <s:element name="pbXoaPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pbXoaPhongResponse">
        <s:complexType />
      </s:element>
      <s:element name="ptbLayDSPhieuThueTheoPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phong" type="tns:PHONG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ptbLayDSPhieuThueTheoPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ptbLayDSPhieuThueTheoPhongResult" type="tns:ArrayOfPHIEUTHUE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPHIEUTHUE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PHIEUTHUE" nillable="true" type="tns:PHIEUTHUE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PHIEUTHUE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaPhieuThue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaPhong" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayThue" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SoNgayThue" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenKhachHangDaiDien" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="khbLayDSKhach">
        <s:complexType />
      </s:element>
      <s:element name="khbLayDSKhachResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="khbLayDSKhachResult" type="tns:ArrayOfKHACHHANG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKHACHHANG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KHACHHANG" nillable="true" type="tns:KHACHHANG" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KHACHHANG">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaKH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaLoaiKH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoGiayTo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="hdblayDSHoaDon">
        <s:complexType />
      </s:element>
      <s:element name="hdblayDSHoaDonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hdblayDSHoaDonResult" type="tns:ArrayOfHOADON" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHOADON">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HOADON" nillable="true" type="tns:HOADON" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HOADON">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MaHoaDon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenKhachHangThanhToan" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayThanhToan" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Thanhtien" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaPhieuThue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pbLayDSPhongSoapIn">
    <wsdl:part name="parameters" element="tns:pbLayDSPhong" />
  </wsdl:message>
  <wsdl:message name="pbLayDSPhongSoapOut">
    <wsdl:part name="parameters" element="tns:pbLayDSPhongResponse" />
  </wsdl:message>
  <wsdl:message name="pbLayDSPhongTheoLoaiPhongSoapIn">
    <wsdl:part name="parameters" element="tns:pbLayDSPhongTheoLoaiPhong" />
  </wsdl:message>
  <wsdl:message name="pbLayDSPhongTheoLoaiPhongSoapOut">
    <wsdl:part name="parameters" element="tns:pbLayDSPhongTheoLoaiPhongResponse" />
  </wsdl:message>
  <wsdl:message name="pbLayDSLoaiPhongSoapIn">
    <wsdl:part name="parameters" element="tns:pbLayDSLoaiPhong" />
  </wsdl:message>
  <wsdl:message name="pbLayDSLoaiPhongSoapOut">
    <wsdl:part name="parameters" element="tns:pbLayDSLoaiPhongResponse" />
  </wsdl:message>
  <wsdl:message name="pbThemPhongSoapIn">
    <wsdl:part name="parameters" element="tns:pbThemPhong" />
  </wsdl:message>
  <wsdl:message name="pbThemPhongSoapOut">
    <wsdl:part name="parameters" element="tns:pbThemPhongResponse" />
  </wsdl:message>
  <wsdl:message name="pbXoaPhongSoapIn">
    <wsdl:part name="parameters" element="tns:pbXoaPhong" />
  </wsdl:message>
  <wsdl:message name="pbXoaPhongSoapOut">
    <wsdl:part name="parameters" element="tns:pbXoaPhongResponse" />
  </wsdl:message>
  <wsdl:message name="ptbLayDSPhieuThueTheoPhongSoapIn">
    <wsdl:part name="parameters" element="tns:ptbLayDSPhieuThueTheoPhong" />
  </wsdl:message>
  <wsdl:message name="ptbLayDSPhieuThueTheoPhongSoapOut">
    <wsdl:part name="parameters" element="tns:ptbLayDSPhieuThueTheoPhongResponse" />
  </wsdl:message>
  <wsdl:message name="khbLayDSKhachSoapIn">
    <wsdl:part name="parameters" element="tns:khbLayDSKhach" />
  </wsdl:message>
  <wsdl:message name="khbLayDSKhachSoapOut">
    <wsdl:part name="parameters" element="tns:khbLayDSKhachResponse" />
  </wsdl:message>
  <wsdl:message name="hdblayDSHoaDonSoapIn">
    <wsdl:part name="parameters" element="tns:hdblayDSHoaDon" />
  </wsdl:message>
  <wsdl:message name="hdblayDSHoaDonSoapOut">
    <wsdl:part name="parameters" element="tns:hdblayDSHoaDonResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="pbLayDSPhong">
      <wsdl:input message="tns:pbLayDSPhongSoapIn" />
      <wsdl:output message="tns:pbLayDSPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pbLayDSPhongTheoLoaiPhong">
      <wsdl:input message="tns:pbLayDSPhongTheoLoaiPhongSoapIn" />
      <wsdl:output message="tns:pbLayDSPhongTheoLoaiPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pbLayDSLoaiPhong">
      <wsdl:input message="tns:pbLayDSLoaiPhongSoapIn" />
      <wsdl:output message="tns:pbLayDSLoaiPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pbThemPhong">
      <wsdl:input message="tns:pbThemPhongSoapIn" />
      <wsdl:output message="tns:pbThemPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pbXoaPhong">
      <wsdl:input message="tns:pbXoaPhongSoapIn" />
      <wsdl:output message="tns:pbXoaPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ptbLayDSPhieuThueTheoPhong">
      <wsdl:input message="tns:ptbLayDSPhieuThueTheoPhongSoapIn" />
      <wsdl:output message="tns:ptbLayDSPhieuThueTheoPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="khbLayDSKhach">
      <wsdl:input message="tns:khbLayDSKhachSoapIn" />
      <wsdl:output message="tns:khbLayDSKhachSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hdblayDSHoaDon">
      <wsdl:input message="tns:hdblayDSHoaDonSoapIn" />
      <wsdl:output message="tns:hdblayDSHoaDonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pbLayDSPhong">
      <soap:operation soapAction="http://tempuri.org/pbLayDSPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbLayDSPhongTheoLoaiPhong">
      <soap:operation soapAction="http://tempuri.org/pbLayDSPhongTheoLoaiPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbLayDSLoaiPhong">
      <soap:operation soapAction="http://tempuri.org/pbLayDSLoaiPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbThemPhong">
      <soap:operation soapAction="http://tempuri.org/pbThemPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbXoaPhong">
      <soap:operation soapAction="http://tempuri.org/pbXoaPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ptbLayDSPhieuThueTheoPhong">
      <soap:operation soapAction="http://tempuri.org/ptbLayDSPhieuThueTheoPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="khbLayDSKhach">
      <soap:operation soapAction="http://tempuri.org/khbLayDSKhach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hdblayDSHoaDon">
      <soap:operation soapAction="http://tempuri.org/hdblayDSHoaDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pbLayDSPhong">
      <soap12:operation soapAction="http://tempuri.org/pbLayDSPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbLayDSPhongTheoLoaiPhong">
      <soap12:operation soapAction="http://tempuri.org/pbLayDSPhongTheoLoaiPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbLayDSLoaiPhong">
      <soap12:operation soapAction="http://tempuri.org/pbLayDSLoaiPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbThemPhong">
      <soap12:operation soapAction="http://tempuri.org/pbThemPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pbXoaPhong">
      <soap12:operation soapAction="http://tempuri.org/pbXoaPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ptbLayDSPhieuThueTheoPhong">
      <soap12:operation soapAction="http://tempuri.org/ptbLayDSPhieuThueTheoPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="khbLayDSKhach">
      <soap12:operation soapAction="http://tempuri.org/khbLayDSKhach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hdblayDSHoaDon">
      <soap12:operation soapAction="http://tempuri.org/hdblayDSHoaDon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:2947/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:2947/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>